#login {
    background-color: rgba(248, 170, 165, 0.897);
    position: absolute;
    top: 40%;
    right: 30%;
    padding: 15px;
    border: solid rgb(117, 203, 242);
    border-radius: 25px;
}

#logo {
    width: 318px;
    height: 238px;
    background-image: url("login.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 35%;
    left: 25%;
    background-size: 115%;
}

#welcome {
    position: absolute;
    font-size: xx-large;
    font-style: oblique;
    color: white;
    margin-left: 43%;
    margin-top: 4%;
}

#name {
    position: absolute;
    font-size: xx-large;
    font-style: oblique;
    color: white;
    margin-left: 42%;
    margin-top: 10%;
}

#slogan {
    position: absolute;
    font-size: x-large;
    font-style: oblique;
    color: white;
    right: 24%;
    top: 30%;
}

#reg {
    background-color: rgba(248, 170, 165, 0.897);
    position: absolute;
    top: 20%;
    right: 39%;
    padding: 7px;
    border: solid rgb(117, 203, 242);
    border-radius: 25px;
    height: 450px;
    width: 470px;
}

#user {
    background-image: url("register/user.png");
    width: 318px;
    height: 238px;
    background-repeat: no-repeat;
    position: absolute;
    top: 5%;
    left: 43%;
    background-size: 25%;
}